.homeTop{
    height: 100vh;
    width: full;
}

.homeTop::before{
    content: "";
    background-image: url('../Images/home-top.png');
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -10;
}